.graph {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.graph>* {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .graph {
        flex-direction: row;
    }
}