.variableDescription {
  width: 75%;
  background-color: #ffffff;
  padding: 10px;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
}

.description-actions {
  /* display: flex;
  justify-content: flex-end;
 
  margin-top: 1rem; */
  float: right;
  width: auto;      /* Ensures it only stays as wide as its buttons */
  margin-left: 10px;
}
.description-actions button + button {
  margin-left: 10px;
}
