/* Green control bar */
.graph-control-bar {
    /* background-color: green; */
    width: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: none;
}